In [17]:
import re, os
import pandas as pd

In [18]:
file_path = 'test_data/3000286815-IVC(06272024).xlsx'
# file_path = 'test_data/3000288028-IVC(06282024).xlsx'
# file_path = 'test_data/3000288218-IVC(06282024).xlsx'
# file_path = 'test_data/3000289220-IVC(07022024).xlsx'

In [19]:
invoiceNo = re.search('\d{10}', file_path).group()
try:
    os.mkdir(invoiceNo)
except:
    print('Directory already exist.')

In [20]:
df = pd.read_excel(file_path)

In [21]:
df.head()

,Barcode,QtyShipped,UnitPrice,Description,QtyOrd,StyleID,Color,ItemNo
0,196720109328,4,23.0,"HR FREETRESS DEEP BULK 14""",4,SFTDB14,1,SFTDB14-1
1,196720109342,4,23.0,"HR FREETRESS DEEP BULK 14""",4,SFTDB14,1B,SFTDB14-1B
2,196720109359,4,23.0,"HR FREETRESS DEEP BULK 14""",4,SFTDB14,2,SFTDB14-2
3,196720109380,2,23.0,"HR FREETRESS DEEP BULK 14""",2,SFTDB14,4,SFTDB14-4
4,196720109366,2,25.0,"HR FREETRESS DEEP BULK 14""",2,SFTDB14,27,SFTDB14-27

In [22]:
df_receiving = df[['Barcode', 'QtyShipped', 'UnitPrice']]
df_receiving.columns=['Code', 'Qty on Ord', 'Cost']

In [23]:
df_receiving.to_csv(f'{invoiceNo}/{invoiceNo}_receiving.txt', sep='\t',index=False)

In [24]:
df_new_item = df[['Barcode']]
df_new_item.insert(loc=len(df_new_item.columns),column='Description', value=df['StyleID'].str.cat(' '+df['Color']))
df_new_item.insert(loc=len(df_new_item.columns), column='Ext Desc', value=df['Description'].str.cat(' #'+df['Color']))
df_new_item.insert(loc=len(df_new_item.columns), column='Cost', value=df['UnitPrice'])
df_new_item.insert(loc=len(df_new_item.columns), column='Regular Price', value=0)
df_new_item.insert(loc=len(df_new_item.columns), column='Department', value=pd.NA)

In [25]:
df_new_item.to_csv(f'{invoiceNo}/{invoiceNo}_new_item.txt', sep='\t', index=False)

In [26]:
df_supplier = df[['Barcode']]
df_supplier.insert(loc=len(df_supplier.columns),column='Cost', value=df['UnitPrice'])
df_supplier.insert(loc=len(df_supplier.columns),column='ReorderNo', value=df['StyleID'])
df_supplier.insert(loc=len(df_supplier.columns),column='MinimumOrder', value=0)
df_supplier.insert(loc=len(df_supplier.columns),column='MPQ', value=0)

In [27]:
df_supplier.to_csv(f'{invoiceNo}/{invoiceNo}_supplier.txt', sep='\t', index=False)